extends layout

block content
    link(rel='stylesheet', href='/stylesheets/movie.css')
    h2 Movie
    #mainContent
        #movie
            if movie.Poster == "N/A"
                img(src="https://via.placeholder.com/140x210?text=Cinetally")
            else
                img(src=`${movie.Poster}`)
            #movieInfo
                p= `${movie.Year} - (${movie.Runtime})`
                h2= movie.Title
                p 
                    i= movie.Plot
                p#cast
                    b Cast
                p= movie.Actors
                a(href=`https://www.imdb.com/title/${movie.imdbID}`) Link to IMDb
                #buttons
                    div(id=`btnA_${movie.imdbID}` class="btnAddMovie" onclick=`addMovie('${JSON.stringify(movie)}')`)
                        i(id=`iA_${movie.imdbID}` class="fas fa-plus")
                        p(id=`pA_${movie.imdbID}`) Add to list
                    div(id=`btnW_${movie.imdbID}` class="btnWatched")
                        i(id=`iW_${movie.imdbID}` class="fas fa-eye")
                        p(id=`pW_${movie.imdbID}`) Mark as watched
                    
    script(src="/javascripts/modules/main/movieMain.js" type="module")
    script(src="/javascripts/modules/functions/btnAddMovie.js" type="module")