extends layout

block content
    link(rel='stylesheet', href='/stylesheets/search.css')
    h2= title
    #mainContent
        #bigSearch
            input(type="text" id="inputBigSearch" placeholder="query" style="font-size:18px" value=`${query}`)
            button(id="btnBigSearch") Go
        ul#entries
            each element in movieList
                li
                    a
                        img(src=`${element.Poster}`)
                        #yearTitle
                            p= element.Year
                            h3= element.Title
                        .addMovie
                            i(class="fas fa-plus" class="notAdded")
                            p Add to list
    
    script(src="/javascripts/modules/main/searchMain.js" type="module")